.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Responsiveness for the table */
/* CSS dalam file eksternal atau di bagian <style> dalam <head> */
.responsive-table {
  /* Default width for screens with width 769px or larger */
  width: 100%;
}

@media (max-width: 768px) {
  /* Width for screens with max width of 768px or smaller */
  .responsive-table {
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

